#toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.toast {
  background-color: #333;
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 4s ease forwards;

  /* Добавляем выравнивание текста */
  text-align: center; /* Горизонтальное выравнивание текста */
  display: flex; /* Используем flexbox */
  align-items: center; /* Вертикальное выравнивание текста */
  justify-content: center; /* Горизонтальное выравнивание текста */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
