body {
  font-family: "Montserrat", sans-serif; /* Подключаем шрифт Montserrat */
  background-color: #2b7bff; /* Голубой цвет фона */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url("../assets/background.avif");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 1080px;
  display: flex;
  flex-direction: column; /*  Располагаем  элементы  вертикально */
  position: relative;
}

#controls {
  display: flex; /* Flexbox для горизонтального расположения кнопок */
  justify-content: flex-end; /* Выравнивание по правому краю */
  position: absolute; /* Абсолютное позиционирование */
  top: 50px; /* Отступ сверху */
  right: 34px; /* Отступ справа */
  gap: 10px; /* Расстояние между кнопками */
  font-family: "Montserrat", sans-serif;
}

#controls button {
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px; /* Удобный размер кнопок */
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
p {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex; /* Flexbox для .user-info */
  align-items: flex-start;
  margin-top: 18px;
  margin-bottom: 10px; /* Уменьшаем нижний отступ */
}
.user-info img {
  width: 100px; /* Фиксированная ширина */
  height: 100px; /* Фиксированная высота */
  border-radius: 50%;
  object-fit: cover; /* Правильно обрезает фотографию, чтобы она вписалась в круг */
  margin-right: 20px; /* Расстояние между фото и данными */
  margin-bottom: 0;
  align-self: center;
}

.info-details {
  display: flex; /* Делаем info-details flex-контейнером*/

  flex-direction: column; /* Выравниваем элементы вертикально */
  align-items: flex-start; /* Выравниваем элементы по левому краю */
}
.info-details p {
  margin: 15px 0px; /* Расстояние между p */
  display: flex; /* Делаем p flex-контейнером */

  align-items: center; /* Выравнивание элементов по центру */
}
.info-details span:first-child {
  width: fit-content; /* Задаем ширину по содержимому*/

  font-weight: bold;

  margin-right: 5px; /* Расстояние до текста*/
}
.info-details span + span {
  align-items: center;
}

hr {
  margin-top: 38px;
  border: none;
  border-top: 1px solid #eee;
  margin: 10px 0;
  display: none;
}

.buttons button,
.container .book-list button,
#find {
  /* Стили для кнопок */
  background-color: #41a0ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif; /* Используем шрифт Montserrat для кнопок */
  cursor: pointer;
  transition: all 0.3s;
}

.book-list .book-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 15px;
}

.book-name {
  padding-right: 40px;
}

.buttons button:hover {
  background-color: #41a0ffb3;
  color: white;
}

.date {
  margin-right: -145px;
}
#user-photo {
  /* Позволяет изменить изображение, добавив другой src */
  content: url("");
}

#goToLibrary {
  background-color: green;
}
#logout {
  background-color: red;
}
h3 {
  text-align: left;
  margin-bottom: 10px; /* Уменьшил нижний отступ */
  margin-top: 0px; /* Уменьшил верхний отступ */
}

.book-list {
  margin-top: 0; /* Убираем лишний отступ сверху */
  padding: 0; /* Убираем лишние внутренние отступы */
}
/*  Стили для заголовков */
.book-header {
  display: flex;
  justify-content: space-between; /*  Равномерное распределение*/
  font-weight: bold;
  margin-bottom: 10px; /* Отступ под  заголовками*/
}

.book-title {
  width: 35%; /* Ширина колонки с названием*/
}
.book-author-title {
  width: 35%; /* Ширина колонки с автором*/
}
.book-date-title {
  width: 30%; /* Ширина колонки  с датой*/
}

.book-item {
  display: flex;

  justify-content: space-between;
  padding: 5px 0; /* Отступ между строками */
}

.book-name {
  width: 35%;
}

.book-author {
  width: 35%;
}

.book-date {
  width: 30%;
}

.date {
  margin-right: 0;
}
#searchInput {
  border-radius: 10px;
  font-size: 16px !important;
  height: 34px;
  border: none;
  font-family: "Montserrat", sans-serif;
}
#searchInput:focus {
  outline: none;
}
#searchForm {
  margin-bottom: 10px;
  margin-top: 200px;
  width: 100%;
}

#search-outline {
  margin-top: 23px;
}
button {
  outline: none; /* Убирает черную рамку */
  border: none; /* Убирает обводку */
  background: transparent; /* Убирает фон (если нужно) */
  color: inherit; /* Наследует цвет текста */
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

button:focus {
  outline: none; /* Убирает рамку при фокусе */
}
#booksTable {
  width: 100%;
  border-collapse: collapse; /*  Объединение границ ячеек*/

  margin-top: 20px;
}
#booksTable th,
#booksTable td {
  border: 1px solid #ddd; /*  Границы  */
  padding: 8px;
  text-align: left;
  text-align: center; /* Центрирование  текста по горизонтали */
  vertical-align: middle; /* Центрирование  текста  по вертикали  */
}
