body {
  font-family: "Montserrat", sans-serif;
  background-color: #2b7bff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-image: url("../assets/background.avif");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  overflow-y: auto;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 1080px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  top: 50px;
  right: 34px;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
}

#controls button {
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
p {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: flex-start;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.user-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 0;
  align-self: center;
}

.info-details {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}
.info-details p {
  margin: 15px 0px;
  display: flex;

  align-items: center;
}
.info-details span:first-child {
  width: fit-content;

  font-weight: bold;

  margin-right: 5px;
}
.info-details span + span {
  align-items: center;
}

hr {
  margin-top: 38px;
  border: none;
  border-top: 1px solid #eee;
  margin: 10px 0;
  display: block;
}

.buttons button,
.container .book-list button {
  background-color: #41a0ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.book-title {
  padding-right: 40px;
}

.buttons button:hover {
  background-color: #41a0ffb3;
  color: white;
}

.date {
  margin-right: -145px;
}

#goToLibrary {
  background-color: green;
}
#logout {
  background-color: red;
}
h3 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
}

.book-list {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.book-header {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  padding: 10px;
  background-color: #41a0ff;
  color: white;
  font-size: 18px;
}

.book-item {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 16px;
}

.book-header.no-return,
.book-item.no-return {
  grid-template-columns: 3fr 2fr 2fr;
}

.book-return:hover {
  background-color: #45a049;
}

.book-item:nth-child(odd) {
  background-color: #f2f2f2;
}

.book-title,
.book-author-title,
.book-date-title,
.book-name,
.book-author,
.book-date,
.book-return-title {
  display: block;
  text-align: center;
}

.no-books-message {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

#user-debt {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

#search-outline {
  margin-top: 23px;
}

#searchInput:focus {
  outline: none;
}
input {
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif !important;
}
input:focus {
  outline: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
button:focus {
  outline: none;
}
#booksTable {
  width: 100%;
  border-collapse: collapse;

  margin-top: 20px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#booksTable.hidden {
  opacity: 0;
  visibility: hidden;
}
#booksTable th,
#booksTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-align: center;
  vertical-align: middle;
}

#searchForm {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-top: 30px;
}

#searchInput {
  border: 2px solid #41a0ff;
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
  padding: 0 15px;
  width: 150px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#searchInput:focus {
  outline: none;
  border-color: #3788d8;
  box-shadow: 0 0 5px rgba(56, 136, 216, 0.7);
}

#find {
  background-color: #41a0ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#find:hover {
  background-color: #3788d8;
  transform: scale(1.05);
}

#find:active {
  background-color: #2b6bb3;
  transform: scale(1);
}
a:visited {
  color: inherit;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  overflow-y: auto;
}

.modal-content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation: slideIn1 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
}
@keyframes slideIn1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-content1 input,
.modal-content1 button {
  width: calc(100% - 32px);
  padding: 10px 15px;
  margin: 0px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.modal-content1 h2 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.modal-content1 label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.modal-content1 input:focus {
  border-color: #5a8dee;
  outline: none;
  box-shadow: 0 0 5px rgba(90, 141, 238, 0.5);
}

.modal-content1 button {
  background-color: #5a8dee;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.modal-content1 button:hover {
  background-color: #497bce;
}
.modal-actions {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
#returnBookMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.save-btn,
.cancel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: #dc3545 !important;
  color: white;
}

.cancel-btn {
  background-color: #6c757d !important;
  color: white;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  overflow-y: auto;
}
.modal-content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation: slideIn1 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
}
@keyframes slideIn1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-content1 input,
.modal-content1 button {
  width: calc(100% - 32px);
  padding: 10px 15px;
  margin: 0px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.modal-content1 h2 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.modal-content1 label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.modal-content1 input:focus {
  border-color: #5a8dee;
  outline: none;
  box-shadow: 0 0 5px rgba(90, 141, 238, 0.5);
}

.modal-content1 button {
  background-color: #5a8dee;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.modal-content1 button:hover {
  background-color: #497bce;
}
.modal-actions {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
#returnBookMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
.save-btn,
.cancel-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: #dc3545 !important;
  color: white;
}

.cancel-btn {
  background-color: #6c757d !important;
  color: white;
}
