@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../assets/background.avif");
  background-size: cover;
}

.container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 384px;
  max-width: 100%;
  min-height: 280px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button,
#controls button,
#controls input[type="submit"],
.cancel-button {
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover,
#controls button:hover,
#controls input[type="submit"]:hover,
.cancel-button:hover {
  transform: translateY(-2px);
}

button:active,
#controls button:active,
#controls input[type="submit"]:active,
.cancel-button:active {
  transform: translateY(2px);
}

.form-container {
  background: rgba(45, 52, 54, 1);
  display: flex;
  color: beige;
  flex-direction: column;
  padding: 30px 50px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
h1 {
  font-weight: bold;
  color: beige;
}
h4 {
  color: beige;
  font-weight: normal;
}

input[type="text"] {
  width: 100%;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
